.home {
  width: 100%;
  margin-top: -8rem;
  overflow: hidden;

  .carousel-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 9;

    .section-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 3rem;
    }

    .section-title {
      font-size: 2.4rem;
      font-weight: 400;
      color: var(--text-color);
    }
  }
}

@media (min-width: 560px) {
  .home {
    margin-top: -6.8rem;
  }
}

@media (min-width: 1400px) {
  .home {
    .carousel-section {
      .section-header {
        padding-inline: 5.5rem;
      }
    }
  }
}