.switchingTabs {
  height: 3.4rem;
  background-color: var(--secondary-color);
  border-radius: var(--rounded-4xl);
  padding: 0.2rem;

  .tabItems {
    display: flex;
    align-items: center;
    height: 3rem;
    position: relative;
    width: fit-content;

    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      color: var(--main-color);
      font-size: 1.4rem;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: color ease 0.3s;
    }

    .tabItem.active {
      color: var(--text-color);
    }

    .movingBg {
      height: 3rem;
      width: 10rem;
      border-radius: 1.5rem;
      background-color: var(--primary-color);
      position: absolute;
      left: 0;
      transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
    }
  }
}